body
{
        margin:0px;
        background-image:url("images/bg.jpg");
        background-size:100%;
        background-repeat:#000000;
      
       
}
.container
{
        width:68%;
        margin-left:auto;
        margin-right:auto;
        margin-top:50px;
        background-image:url("images/body.jpg");
        background-repeat:repeat-x;
        
        -webkit-border-radius: 20px 20px 20px 20px;
        border-radius: 10px 10px 10px 10px;
 
}
.banner
{
        width:100%;
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 5px 5px 5px 5px;
        text-align:center;
}
.banner img
{
        -webkit-border-radius: 10px 10px 10px 10px;
         border-radius: 5px 5px 5px 5px;
}
#menu-centered
        {
          padding: 10px;
          background-color:#fafafa;
         -webkit-border-radius: 0px 20px 0px 20px;
          border-radius: 0px 0px 10px 10px;
               
      }
      #menu-centered ul
          {
           margin: 0;
           padding: 0;
           text-align: right;                  
      }
      #menu-centered li
          {
           display: inline;
           list-style: none;   
           padding: 25px;
           padding: 10px 5px 10px 5px;                
      }
      #menu-centered a
          {
          
           font-size:18px;
           color: #484848;
           text-decoration: none;
           padding:25px;
        
      }
  
.footer
{
        font-family:andalus;
        font-size:12px;
        background-color:#fafafa;
        text-align:center;
        padding:10px;
        -webkit-border-radius: 0px 0px 20px 20px;
                border-radius: 0px 0px 10px 10px;
       
}
.footerlinks
{
        font-size:10px;
        font-family:andalus;
        padding:10px;
        color: #000000;
       background-image:url('foo.png');
        background-repeat: repeat-xy;
       
}
.footerlinks a:link
{
        text-decoration:none;
        color: #ffffff;
       
}
.footerlinks a:hover
{
        text-decoration:none;
        color: #FFFFFF;
}
.footerlinks a:visited
{
        color:#a0a0a0;
        text-decoration:none;
}


.bg
{
background-image:url('bac.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 

}