#login{
margin-top:20px;
margin-bottom:100px;
margin-right:30px;
margin-left:530px;
border: 3px solid #a1a1a1;
padding:5px 20px;
background: #D3D3D3;
width:300px;
border-radius: 20px;
box-shadow: 7px 7px 6px;
}

#button{
background: #B0B0B0;
width:80px;
height:30px;
border-radius: 10px;
font-weight: bold;
font-size:20px;
}
	